/* Reset and base styles  */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Raleway:wght@400;700&family=Roboto:wght@300&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
  display: block;
}

body {
  font-family: "Raleway", "sans-serif";
  background-color: rgb(36, 43, 51);
  color: rgb(255, 255, 255);
  font-size: 16px;
}

a {
  transition: all 0.2s ease-in;
  color: rgb(255, 255, 255);
}
a:hover {
  color: rgb(212, 193, 127);
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1140px;
}

.header {
  min-height: 840px;
  background-image: url(../img/header/header-bg.jpg);
  background-repeat: no-repeat;
  background-position-x: center;
}
.header__navigation {
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 195px;
}
.header__navigation-button {
  display: flex;
  display: none;
  flex-direction: column;
  justify-content: center;
  z-index: 10;
  width: 30px;
  height: 24px;
  gap: 8px;
}
.header__navigation-button span {
  width: 29px;
  height: 2px;
  content: "";
  background-color: rgb(212, 193, 127);
}
.header__navigation-button span:nth-child(1) {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
}
.header__navigation-button span:nth-child(2) {
  transition: transform 0.3s ease-in-out;
}
.header__navigation-button span:nth-child(3) {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
}
.header__navigation-button--active {
  align-items: center;
}
.header__navigation-button--active span:nth-child(1) {
  transform: translateX(0) rotate(45deg);
}
.header__navigation-button--active span:nth-child(2) {
  transform: scaleY(0);
}
.header__navigation-button--active span:nth-child(3) {
  transform: translateX(0) rotate(-45deg);
}
.header__navigation-list {
  display: flex;
  gap: 40px;
  align-items: center;
  font-size: 14px;
  line-height: 16px;
}
.header__hero {
  margin: 0 auto;
  margin-bottom: 200px;
  max-width: 582px;
  text-align: center;
}
.header__hero-title {
  font-family: "Playfair Display", serif;
  font-size: 48px;
  line-height: 63px;
  font-weight: 700;
  color: rgb(212, 193, 127);
  text-align: center;
  margin-bottom: 88px;
}
.header__footer {
  max-width: 582px;
  margin: 0 auto;
  margin-bottom: 195px;
}
.header__footer-contacts {
  display: flex;
  justify-content: space-between;
}
.header__footer-item img {
  margin-right: 15px;
}

@media (max-width: 700px) {
  .header__hero-title {
    font-size: 30px;
  }
  .header__navigation-logo {
    z-index: 6;
  }
  .header__navigation-list {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    z-index: 5;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    transition: transform 0.6s ease-out;
    background-color: rgb(36, 43, 51);
    opacity: 0.95;
    transform: translateX(-100%);
    overflow-x: hidden;
    height: 100vh;
  }
  .header__navigation-list--active {
    transform: translateX(0);
  }
  .header__navigation-button {
    display: flex;
  }
  .header__footer-contacts {
    flex-direction: column;
    text-align: center;
    row-gap: 25px;
  }
}
.info {
  display: block;
  position: relative;
  padding: 120px 0;
}
.info::after {
  content: "II";
  top: 0;
  left: calc(50% + 555px);
  transform: translate(-50%, 0%);
  position: absolute;
  top: 0;
  opacity: 0.02;
  line-height: 410px;
  font-family: "Playfair Display", serif;
  font-size: 400px;
}
.info__list {
  width: 840px;
  margin: 0 auto;
  -moz-column-gap: 70px;
       column-gap: 70px;
  display: grid;
  grid-template-columns: 193px 133px 134px 124px;
}
.info__list-item {
  text-align: center;
}
.info__list-desc {
  color: rgb(255, 255, 255);
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  line-height: 27px;
  font-weight: 300;
}
.info__list-image {
  margin-bottom: 53px;
  width: 80px;
  height: 80px;
}

@media (max-width: 1555px) {
  .info::after {
    display: none;
  }
}
@media (max-width: 850px) {
  .info {
    padding-top: 0;
  }
  .info__list {
    width: 650px;
    grid-template-columns: repeat(2, 300px);
    row-gap: 35px;
    margin: 0 auto;
  }
}
@media (max-width: 700px) {
  .info {
    padding-top: 0;
  }
  .info__list {
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 35px;
    margin: 0 auto;
  }
}
.apart {
  position: relative;
  margin-bottom: 180px;
}
.apart::before {
  content: "III";
  top: 0;
  left: calc(50% - 555px);
  transform: translate(-50%, 0%);
  position: absolute;
  top: 0;
  opacity: 0.02;
  line-height: 410px;
  font-family: "Playfair Display", serif;
  font-size: 400px;
}
.apart__title {
  color: rgb(212, 193, 127);
  font-family: "Playfair Display", serif;
  font-size: 36px;
  line-height: 48px;
  font-weight: 700;
  margin-bottom: 88px;
}
.apart__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}
.apart__list-img {
  transition: transform 0.2s ease-in;
}
.apart__list-img:hover {
  transform: scale(1.1);
  filter: contrast(110%) brightness(1.2) saturate(1.2);
}
.apart__list-item {
  position: relative;
}
.apart__list-title {
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  z-index: 2;
  position: absolute;
  bottom: 44px;
  left: 50px;
  color: rgb(255, 255, 255);
}

@media (max-width: 1555px) {
  .apart::before {
    display: none;
  }
}
@media (max-width: 1000px) {
  .apart {
    margin-bottom: 0;
  }
  .apart__title {
    text-align: center;
  }
  .apart__list {
    margin: 0 auto;
    width: 540px;
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (max-width: 1000px) {
  .apart__list {
    width: 100%;
  }
}
.connection {
  min-height: 560px;
  background-image: url(../img/main/form-bg.jpg);
  padding: 180px 0;
  background-position-x: center;
  background-repeat: no-repeat;
}
.connection__title {
  font-family: "Playfair Display", serif;
  color: rgb(212, 193, 127);
  font-size: 36px;
  line-height: 48px;
  margin-bottom: 17px;
}
.connection__place {
  display: flex;
  gap: 30px;
}
.connection__place-desc {
  color: rgb(255, 255, 255);
  line-height: 24px;
  width: 540px;
}
.connection__form {
  width: 540px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -moz-column-gap: 30px;
       column-gap: 30px;
  row-gap: 35px;
}
.connection__form-input {
  width: 255px;
  height: 50px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.2);
}
.connection__form-input::-moz-placeholder {
  color: #BEBEBE;
  font-size: 14px;
  line-height: 27px;
  font-weight: 400;
  font-family: "Raleway", "sans-serif";
}
.connection__form-input::placeholder {
  color: #BEBEBE;
  font-size: 14px;
  line-height: 27px;
  font-weight: 400;
  font-family: "Raleway", "sans-serif";
}
.connection__form-alert {
  font-size: 13px;
  text-align: center;
  line-height: 16px;
}
.connection__form-submit {
  background-color: rgb(212, 193, 127);
  width: 255px;
  height: 50px;
  color: rgb(255, 255, 255);
}

@media (max-width: 900px) {
  .connection__title {
    margin-bottom: 25px;
    text-align: center;
  }
  .connection__place {
    flex-direction: column;
    margin: 0 auto;
    width: 600px;
    max-width: 100%;
  }
}
@media (max-width: 575px) {
  .connection__place-desc {
    width: 100%;
  }
  .connection__form {
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
  }
  .connection__form-input {
    width: 100%;
  }
  .connection__form-submit {
    width: 100%;
  }
}
.video {
  position: relative;
  display: block;
  margin: 0 auto;
  margin-bottom: 180px;
  width: 750px;
}
.video::before {
  content: "IV";
  top: 90px;
  left: calc(50% + 555px);
  transform: translate(-47%, 0%);
  position: absolute;
  top: 0;
  opacity: 0.02;
  line-height: 410px;
  font-family: "Playfair Display", serif;
  font-size: 400px;
}
.video__link {
  position: relative;
  display: inline-block;
}
.video__link-icon {
  position: absolute;
  right: 50%;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
}

@media (max-width: 1555px) {
  .video::before {
    display: none;
  }
}
@media (max-width: 800px) {
  .video {
    max-width: 100%;
  }
}
.position {
  position: relative;
  margin-bottom: 180px;
}
.position::before {
  content: "V";
  top: 0;
  left: calc(50% - 555px);
  transform: translate(-50%, 0%);
  position: absolute;
  top: 0;
  opacity: 0.02;
  line-height: 410px;
  font-family: "Playfair Display", serif;
  font-size: 400px;
}
.position__title {
  color: rgb(212, 193, 127);
  font-size: 36px;
  line-height: 48px;
  font-family: "Playfair Display", serif;
  margin-bottom: 88px;
}
.position__image {
  width: 100%;
  height: 358px;
}

@media (max-width: 1555px) {
  .position::before {
    display: none;
  }
}
@media (max-width: 850px) {
  .position__title {
    text-align: center;
  }
}
.feedback {
  margin-bottom: 180px;
}
.feedback__title {
  margin-bottom: 88px;
  font-family: "Playfair Display", serif;
  font-size: 36px;
  color: rgb(212, 193, 127);
}
.feedback__input {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  -moz-column-gap: 30px;
       column-gap: 30px;
}
.feedback__input-name, .feedback__input-number {
  width: 255px;
  height: 50px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.2);
}
.feedback__input-name::-moz-placeholder, .feedback__input-number::-moz-placeholder {
  color: #BEBEBE;
  font-size: 14px;
  line-height: 27px;
  font-weight: 400;
  font-family: "Raleway", "sans-serif";
}
.feedback__input-name::placeholder, .feedback__input-number::placeholder {
  color: #BEBEBE;
  font-size: 14px;
  line-height: 27px;
  font-weight: 400;
  font-family: "Raleway", "sans-serif";
}
.feedback__input-desc {
  font-size: 13px;
  text-align: bottom;
  line-height: 16px;
  display: flex;
  align-self: end;
}
.feedback__input-submit {
  background-color: rgb(212, 193, 127);
  width: 255px;
  height: 50px;
  color: rgb(255, 255, 255);
}

@media (max-width: 1100px) {
  .feedback {
    margin-bottom: 120px;
  }
  .feedback__input {
    display: flex;
    flex-wrap: wrap;
  }
  .feedback__input-desc {
    order: 3;
    margin-top: 10px;
  }
}
@media (max-width: 900px) {
  .feedback__input {
    width: 550px;
    margin: 0 auto;
    row-gap: 20px;
  }
  .feedback__input-desc {
    width: 255px;
  }
}
@media (max-width: 850px) {
  .feedback__title {
    text-align: center;
  }
}
@media (max-width: 575px) {
  .feedback__input {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
  }
  .feedback__input-name, .feedback__input-number, .feedback__input-submit, .feedback__input-desc {
    width: 100%;
  }
}
.footer {
  background-color: rgb(45, 52, 60);
}
.footer__logo {
  margin-right: auto;
  margin-bottom: auto;
}
.footer__wrapper {
  display: flex;
  padding: 60px 0;
}
.footer__navigation {
  display: flex;
}
.footer__navigation-list {
  font-size: 14px;
  line-height: 16px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.footer__navigation-list:nth-child(1) {
  margin-right: 166px;
}
.footer__navigation-list:nth-child(2) {
  margin-right: 57px;
}
.footer__navigation-media {
  display: flex;
  gap: 22px;
}

@media (max-width: 1000px) {
  .footer__wrapper {
    justify-content: space-between;
  }
  .footer__navigation {
    gap: 25px;
  }
  .footer__navigation-list {
    margin: 0 !important;
  }
}
@media (max-width: 800px) {
  .footer__logo {
    margin: 0;
    margin-bottom: 20px;
  }
  .footer__wrapper {
    padding: 15px 0;
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 650px) {
  .footer__navigation {
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }
}/*# sourceMappingURL=main.css.map */