// font-family: 'Playfair Display', serif;
// font-family: 'Raleway', sans-serif;
// font-family: 'Roboto', sans-serif;

// /Fonts
$font-main: 'Raleway', 'sans-serif';
$font-accent: 'Playfair Display', serif;
$font-secondary:'Roboto', sans-serif;

// Colors
$dark: rgba(36, 43, 51, 1);
$accent:rgba(212, 193, 127, 1);
$white:rgba(255, 255, 255, 1);
$footer-bg:rgba(45, 52, 60, 1);
$placeholder: #BEBEBE;